In [2]:
import numpy as np
import pandas as pd

In [47]:
soi = pd.read_csv("soi.txt", sep = "  " ,header=0, engine="python")
sst = pd.read_csv("sst.txt", sep="  ", on_bad_lines="skip", header=0, index_col=False, dtype="str", engine="python")
sst

C:\Users\JD\AppData\Local\Temp\ipykernel_12272\3775501644.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  sst = pd.read_csv("sst.txt", sep="  ", on_bad_lines="skip", header=0, index_col=False, dtype="str", engine="python")

,YR,MON,NINO1+2,ANOM,NINO3,ANOM.1,NINO4,ANOM.2,NINO3.4,ANOM.3
0,1982,1,24.28,-0.24,25.84,NaN,0.17,28.01,-0.21,26.65
1,1982,2,25.38,-0.72,26.26,-0.11,27.99,-0.11,26.54,-0.20
2,1982,3,25.22,-1.38,26.92,-0.25,28.18,-0.05,27.09,-0.14
3,1982,4,24.57,-1.16,27.52,-0.05,28.61,NaN,0.10,27.83
4,1982,5,24.00,-0.62,27.70,NaN,0.49,29.19,NaN,0.40
...,...,...,...,...,...,...,...,...,...,...
491,2022,12,22.54,-0.30,24.48,-0.78,27.71,-0.73,25.81,-0.84
492,2023,1,24.27,-0.24,25.17,-0.50,27.62,-0.60,25.88,-0.69
493,2023,2,26.80,NaN,0.71,26.25,-0.13,27.58,-0.52,26.29
494,2023,3,28.12,NaN,1.52,27.52,NaN,0.36,28.09,-0.14
495,2023,4,28.18,NaN,2.45,28.02,NaN,0.44,28.81,NaN